/* Geral */

* {
  font-size: 16px;
}

body {
  background: #6f9bed fixed !important;
  background-size: cover;
}

.content {
  height: 100vh;
  display: flex;
}

.content > .box {
  width: 100%;
  margin: auto 0;
}

.responsive-separator-right {
  border-right: 1px solid #6f9bed;
}

.nav-item:hover,
.nav-item > a:hover,
.nav-item:focus,
.nav-item > a:focus {
  background-color: #6f9bed !important;
  color: white !important;
}

.adapt-body-to-menu {
  padding-top: 60px;
}

/* Mobile */

@media (max-width: 1000px) {
  * {
    font-size: 40px;
  }
  .content {
    height: auto;
  }
  .responsive-separator-right {
    border-right: 0;
    border-bottom: 2px solid #6f9bed;
    margin-bottom: 25px;
  }
  .divBtnForm {
    text-align: left !important;
  }
  .adapt-body-to-menu {
    padding-top: 150px;
  }
  .double-card-row-l {
    padding-right: 1.5rem !important;
  }
  .double-card-row-r {
    padding-left: 1.5rem !important;
  }
}
